



<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta name="viewport" content="width=device-width" />

<link rel="stylesheet" type="text/css" href="/~stulacha/poker/app/assets/stylesheets/welcome.css" />
</head>

<div class ="navbar navbar-inverse navbar-static-top">
    
                            <ul class= "nav navbar-nav navbar-right">
                                                    
                            
                            <li><a href="login.html.erb"><strong>Login</strong></a></li>
                            <li><a href="register.html.erb"><strong>Register</strong></a></li>
                        
                          </ul><!-- /.nav -->
</div>
 <div id="header">
                <div id="header_content">
                    <div class="container">
                        <div class="header_align">
                        <a href="#"><img src="background.jpeg" id="logo"></a>
                      
                        
                        
                        
                        </div>
                    </div>
                </div>
            </div>
<div class="container">
    <section id="content">
        <form action="">
            <h1>Register</h1>
            <div>
                <input type="text" placeholder="Username or email" required="" id="username" />
            </div>
            <div>
                <input type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="password" placeholder="Confirm Password" required="" id="password" />
            </div>
            <div>
     <input type = "checkbox" name = "chkbox" value = "agree" required=""/>&nbspI Agree to the (Privacy Policy)
                                                              
                                  
                               </div>
            <div>
                <input type="submit" value="Register" /> 
                
                
            </div>
        </form><!-- form -->
        
    </section><!-- content -->
</div><!-- container -->



<footer >
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
           
           <div class="col-md-4" >
            <font color="blue">Copyright &copy; 2016 CSC 667 Group # 4 </font>
            </div>

            <div class="col-md-8">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index">Home</a></li>
                    <li><a data-popup-open="#" href= "#">Terms &amp; Conditions</a></li>
                    <li><a data-popup-open="#" href="#">Privacy Policy</a></li>
                    <li><a data-popup-open="#" href="#">About Us</a></li>
                </ul><!-- /.nav -->
            </div>


        </div>
    </div>
</footer>


</html>
